<html>
    <head>
        <title>
            PASSWORD RESET
        </title>
        <script>
            function check_password() {
                const p1 = document.getElementById("password1");
                const p2 = document.getElementById("password2");
                const pSub = document.getElementById("password");
                const subButton = document.getElementById("submit");

                /* Test password requirements too? */
                if(p1.value !== "" && p2.value !== "" && p1.value === p2.value) {
                    pSub.value = p1.value;
                    subButton.disabled = false;
                }
                else {
                    pSub.value = p1.value;
                    subButton.disabled = true;
                }
            }
        </script>
    <body>
        <h1> PASSWORD RESET</h1>
        <p>
            <form target="{{ reset_url }}" oninput="check_password()" method="post">
                New Password <br />
                <input type="password" name="password1" id="password1"/> <br />
                New Password again <br />
                <input type="password" name="password2" id="password2"/> <br />
                <input type="hidden" name="password" value="" id="password"> <br />
                <input type="submit" name="submit" value="Change password" id="submit" disabled ><br />
            </form>
        </p>
    </body>
    </head>
</html>