A password reset for the account with this mail was requested.

IF THIS WAS NOT YOU, SOMEONE MIGHT TRY TO GAIN ACCESS TO YOUR ACCOUNT!
DONT PROVIDE YOUR PASSWORD AND DONT FOLLOW ANY LINKS!

If you want to reset your password follow this link:

{{ reset_url }}

